.imagen-container {
    width: 320px;
    height: 260px;
    overflow: hidden; /* Oculta cualquier desbordamiento de la imagen */
  }
  
  .animacion {
    width: 100%;
    height: 100%;
    animation: girar 50s linear infinite; /* Define una animación llamada "girar" */
  }
  
  @keyframes girar {
    140% {
      transform: rotate(0deg); /* Inicio de la animación */
    }
    100% {
      transform: rotate(360deg); /* Final de la animación (1 vuelta completa) */
    }
  }
  