body {
    background: #ff0084;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c9518d, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e2328a, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

